/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&family=Poppins&display=swap');

/* Utilities Starts here */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --lobster:'Lobster',sans-serif, cursive;
    --oswald:'Oswald', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

/* header starts here */
navbar,
header{
    overflow: hidden;
}
.nav-link,
.navbar-brand{
    font-family: var(--poppins);
    font-size: 1em;
    color: #fff;
}

header{
    background: #dd2476;
    background: linear-gradient(to bottom ,
     #dd2476, #ff512f
    );
    color: #fff;
}

header .nav-item:last-child{
    padding-right: 4rem;
}

header .nav-item{
    padding: 0.9rem;
}

header .navbar-brand{
    padding-left: 4rem;
    font-family: var(--lobster);
}

header .col-lg-7{
    font-family: var(--poppins);
    padding: 30px 70px;
    margin-top: 120px;
}

header .col-lg-7 h6{
    letter-spacing: 4px;
    font-weight: 700;
}

header .col-lg-7 h1{
    font-size: 3rem;
    padding: 1rem 0;
    font-weight: bold;
    font-family: var(--oswald);
    letter-spacing: 5px;
}

header .col-lg-7 button{
    border-radius: 30px;
    font-weight: bold;
}
/* header ends here */
/* main starts here */
/* Section-1 */
.section-1{
    padding: 20vmin 0;
}

.section-1 .col-lg-6 img{
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2rem;
}

.section-1 .col-lg-6:last-child{
    position: relative;
}

.section-1 .panel{
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: #fff;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0 25px 42px rgba(0,0,0,0.2);
    font-family: var(--poppins);
}

.section-1 h1{
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--oswald);
}

/* section-1 ends here */
/* section-2 starts here */

.cover{
    width: 100%;
    height: 55vmin;
    background: url(images/pexels-photo-452738.jpeg);
    background-size: 150%;
    background-position: -24rem -19rem;
    position: relative;
}

.cover .content{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding-top: 19vmin;
}

.cover .content >h1{
    font-size: 3rem;
    color: #fff;
    font-family: var(--poppins);
}

.cover .content >p{
    font-size: 1.3rem;
    color: #fff;
    font-family: var(--poppins);
}

.members .col-lg-3{
    position: relative;
    background: #fff;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 50px 0 rgba(255,0,0,0.345);
}

.members{
    margin-top: -15vmin;
    font-family: var(--poppins);
}

.members h1{
    font-size: 5rem;
    color: tomato;
}

/* Purchase part */
.purchase >h1{
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--lobster);
}
.purchase > p{
    color: rgba(0,0,0,0.3);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card{
    width: 22rem;
    margin: 3vmin;
}

.card-title{
    background: rgba(0,0,0,0.1);
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
}
.card-text{
    padding: 2.5rem 3rem;
    color: rgba(0,0,0,0.3);
}

.card .pricing{
    background: rgba(0,0,0,0.1);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card .pricing > h1{
    font-size: 10vmin;
    padding: 2rem 0.5rem;
}

/* Section-3 starts here */
.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: linear-gradient(to bottom ,
     #dd2476, #ff512f
    );
  }
  
  .section-3 .col-sm-12 > h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
    font-family: var(--poppins);
  }
  
  .section-3 .col-sm-12 > p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: rgba(0,0,0,0.3);
    font-size: 3vmin;
    font-family: var(--poppins);
  }
  
  .section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
  }
  
  .section-3 .desktop h3 {
    font-size: 4vmin;
    font-family: var(--poppins);
  }
  
  .section-3 .desktop p {
    font-size: 2vmin;
  }

  /* Section-4 */
  .section-4 .container h1{
    padding-top: 10vmin;
    font-size: 6vmin;  
    font-family: monospace; 
  }

  .section-4 .team{
    padding: 10vmin 4vmin;
  }

  .section-4 .card{
      width: 25rem;
      margin-top: 10vmin;
  }

  .section-4 .card-body>a{
      font-size: 1.4rem;
      color: seagreen;
  }

  .border-radius{
      border-radius: 340px;
      width: 60%;
  }

  /* main ends here */
  /* footer starts here */

  footer{
      padding: 3rem 7rem;
  }

  footer p > span{
      color: rgb(235, 74, 46);
  }

  footer .row .col-md-5 .text-light,
  footer .row .col-md-2 .text-light{
    margin-bottom: 2rem;
  }

  footer .row .col-md-2 img{
      cursor: pointer;
  }
